* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.form-group {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
	grid-column: 1/-1;
}

.form-group > * {
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}


.header {
	padding: 20px 0;
	text-align:center;
}

.header > * {
	text-align: center;
}

.date-pickers {
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.startDatePicker, .endDatePicker {
	border-radius: 10px;
	padding: 5px;
	width: 200px;
}

.datePickerLabel {
	margin-left: 30px;
	margin-right: 10px;
}

.weekMenu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #BBBBBB;
	margin-bottom: 0;
}

.dayMenu-container {
	background-color: #d5d7d8;
	border: 1px solid #121212;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
	border-radius: 20px;
	padding: 30px;
	margin: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
}

.dayMenu-container.active {
	border: 10px solid black;
}

.dayMenu-header {
	display: grid;
	align-content: center;
	margin-right: 30px;
}

.meals-container {
	border: 1px solid #121212;
	background-color: #ECEFF1;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
	border-radius: 10px;

}

.meal-container {
	border: 1px solid #121212;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
	margin: 20px;
}

.meal-container h3 {
	margin: 0;
}

.meal-container-header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.menu-header {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.menu-header .delete-menu {
	font-size: 25px;
}

.add-meal-container {
	display: flex;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: baseline;
	margin-bottom: 30px;
}

.menu-container:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,0.7);
}

.menu-header h5 {
	margin-bottom: 0;
}

.meal-container {
	padding: 20px;
	background-color: #FFFFFF;
}

footer {
	background-color: #222222;
	color: #fff;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
	.dayMenu-container {
		grid-template-columns: 1fr;
	}

	.dayMenu-header {
		margin-right: 0;
	}
}


