* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
	padding: 20px 0;
	text-align:center;
}

.header > * {
	text-align: center;
}

.week-menu-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.menu-date {
	text-align: center;
}

hr {
	margin-top: 0;
}

.menu-type-container {
	display: grid;
	grid-template-columns: 1fr 50px;
	margin-bottom: 30px;
	padding: 15px 10px;
	align-items: baseline;
}

.menu-container {
	min-width: 300px;
	max-width: 300px;
	padding: 10px 20px;
	margin-bottom: 15px !important;
}

.menu-header {
	grid-column: 1/-1;
	text-transform: uppercase;
}

.food-list .food-item {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	align-items: center;
}

.delete-food, .add-food {
	float: right;
}

.add-food {
	text-align: center;
	margin-left: 5px;
}

.food-item {
	margin-bottom: 10px;
}



