* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.header {
	padding: 20px 0;
	text-align:center;
}

.header > * {
	text-align: center;
}

.date-pickers {
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.startDatePicker, .endDatePicker {
	border-radius: 10px;
	padding: 5px;
	width: 200px;
}

.datePickerLabel {
	margin-left: 30px;
	margin-right: 10px;
}


.week-menu-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.menu-date, .menu-day {
	text-align: center;
}

hr {
	margin: 0;
}

.empty-menu-message {
	margin-top: 1rem;
}

.active {
	border: 2px solid black;
}

.menu-type-container {
	display: grid;
	grid-template-columns: 1fr 50px;
	margin-bottom: 30px;
	padding: 15px 10px;
	align-items: baseline;
}

.menu-container {
	min-width: 300px;
	max-width: 300px;
	padding: 10px 20px;
	margin-bottom: 15px !important;
}

.menu-type-header {
	grid-column: 1/-1;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	align-items: baseline;
	justify-items: flex-start;
}

.delete-menu {
	font-weight: 500;
}

.delete-menu:hover {
	text-decoration: none;
}

.food-list .food-item {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	align-items: center;
}

.delete-food, .add-food {
	float: right;
	color: #bdbdbd;
}

.delete-food:hover {
	text-decoration: none;
}

.add-food {
	text-align: center;
	margin-left: 5px;
}

.food-item {
	margin-bottom: 10px;
}

.add-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	grid-gap: 10px;
}



